<!DOCTYPE html>
<html>
<head>
  <title>Goaler</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<ul>
  <% flash[:error].try(:each) do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>

<% if current_user %>
  <%= button_to "Sign out", session_url, method: :delete %>
<% end %>

<%= yield %>

</body>
</html>
